@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

.primary-btn {
  background-color: var(--primary-color) !important;
  color: var(--font-color-over-primary) !important;
}

.secondary-btn {
  background-color: var(--secondary-color) !important;
  color: var(--font-color-over-primary) !important;
}
.rounded-btn {
  border-radius: var(--border-radius-btn) !important;
}

.toolbar-btn {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-header-btn) !important;
}

.toolbar-btn-icon-size{
  font-size: 20px !important;
}
