@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

.height-with-toolbar {
  height: calc(100vh - 76px);
}

.height-without-toolbar {
  height: 100vh;
}
.v-toolbar-title__placeholder {
  overflow: inherit !important;
}