//Common
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variables.scss";

$background: #252C39;
$black: #252C39;
$white: #F1F1FF;
$red: #F15A5A;
$transparent_red: rgba(241, 90, 90, 0.25);


* {
  font-family: 'Inter', sans-serif;
}
body,
html {
  height: 100%;
  background: rgb(var(--v-theme-background));
}
.wrapper {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  &:first-child {
    padding-top: 20px;
  }
  &:last-child {
    padding-bottom: 50px;
  }
}

.footer {
  max-width: 356px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 32px auto;
}

.primary-btn {
  background-color: rgb(var(--v-theme-primary)) !important;
  color: rgb(var(--v-theme-font-color-over-primary)) !important;
}

.secondary-btn {
  background-color: rgba(var(--v-theme-secondary), 0.25) !important;
  color: rgb(var(--v-theme-font-color-over-primary)) !important;
}
.rounded-btn {
  border-radius: var(--border-radius-btn) !important;
}

.toolbar-btn {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-header-btn) !important;
}

.toolbar-btn-icon-size {
  font-size: 20px !important;
}
