:root {
  --primary-color: #f15a5a;
  --secondary-color: rgba(241, 90, 90, 0.25);
  --background-color: #252C39;
  --background-color-white: #f1f1ff;
  --font-color-over-primary: #f1f1ff;
  --white: #ffffff;

  --menu-item-color: rgba(37, 44, 57, 1);
  --placeholder-color: rgba(37, 44, 57, 0.5);

  --border-radius-header-btn: 16px;
  --border-radius-btn: 28px;
  --border-radius-big-btn: 20px;
  --border-radius-card-item: 28px;

  --input-height: 68px;
  --main-btn-height: 92px;
}
